html {
    background-image: url("/images/victoryPage.jpg");
    background-size: 1920px 1080px;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Arial Black", sans-serif;
    color: rebeccapurple;
}

table {
    border-collapse: collapse;
    color: darkblue;
}

table, td, th {
    border: 1px solid black;
}

td, th {
    margin: 8px;
    padding: 2px;
}
h1, h2 {
    margin-left: 20px;
}