<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Online Art Store</title>
    <meta name="csrf-token" id="_csrf" th:content="${_csrf.token}"/>
    <meta name="csrf-header" id="_csrf_header" th:content="${_csrf.headerName}"/>
    <link th:href="@{/css/adminPageUsers.css}" rel="stylesheet"/>
</head>
<body>
<nav>
    <menu>
        <ul>
            <li><a th:href="@{/}">General page</a></li>
            <li sec:authorize="isAuthenticated()">
                <a th:href="@{/privatePage}">Private page</a></li>
            <li sec:authorize="hasRole('ADMIN')">
                <a th:href="@{/mainAdminPage}">ADMIN MENU:</a>
                <ol type="1">
                    <li><a th:href="@{/adminPage}">Create or view a PICTURE, CATEGORY, AUTHOR, AUCTION</a></li>
                    <li><a th:href="@{/adminPageUsers}">All USERS</a></li>
                </ol>
            </li>
            <li sec:authorize="isAnonymous()">
                <a th:href="@{/singup}">Sign Up</a></li>
            <li sec:authorize="isAnonymous()">
                <a th:href="@{/login}">Login</a></li>
            <li sec:authorize="isAuthenticated()">
                Welcome <span sec:authentication="name"></span>!
            </li>
            <li sec:authorize="isAuthenticated()">
                <a th:href="@{/logout}">Logout</a></li>
        </ul>
    </menu>
</nav>
<h1 style="color: green">Create NEW USER or view ALL USERS:</h1>
<h2 class="name">Create new User:</h2>
<h4 class="name">Enter a unique username and 6-digit password for the new User.</h4>
<div class="frame">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <div class="frame">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required/>
    </div>
    <div class="frame">
        <label for="password">Password:</label>
        <input type="text" id="password" name="password" required/>
    </div>
    <div class="frame">
        <input type="submit" id="save"/>
    </div>
</div>
<h4>Hint for you:</h4>
<ul th:each="error: ${errors}">
    <li class="error-message" th:text="${error.defaultMessage}"></li>
</ul>

<h2 class="name">Create new user`s details :</h2>
<h4 class="name">Be sure to enter the username of the User to whom the information is assigned.</h4>
<div class="frame">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <div class="frame">
        <label for="firstName">First name:</label>
        <input type="text" id="firstName" name="firstName"/>
    </div>
    <div class="frame">
        <label for="lastName">Last name:</label>
        <input type="text" id="lastName" name="lastName"/>
    </div>
    <div class="frame">
        <label for="birthDate">BirthDate:</label>
        <input type="date" id="birthDate" name="birthDate"/>
    </div>
    <div class="frame">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required/>
    </div>
    <div class="frame">
        <label for="telephone">Telephone:</label>
        <input type="text" id="telephone" name="telephone"/>
    </div>
    <div class="frame">
        <label for="users">User:</label>
        <select name="users" id="users" th:value="${users}"></select>
    </div>
    <div class="frame">
        <input type="submit" id="saveUserDetail"/>
    </div>
</div>
<h4>Hint for you:</h4>
<ul th:each="error: ${errors}">
    <li th:text="${error.defaultMessage}"></li>
</ul>
<h2>Users table:</h2>
<table>
    <thead>
    <tr>
        <th>Id:</th>
        <th>User`s login:</th>
        <th>Password:</th>
        <th>Enabled:</th>
        <th>DELETE:</th>
        <th>UPDATE:</th>
    </tr>
    </thead>
    <tbody id="Users-table"></tbody>
</table>

<h2>User`s details table:</h2>
<table>
    <thead>
    <tr>
        <th>Id:</th>
        <th>First name:</th>
        <th>Last name:</th>
        <th>Birthdate:</th>
        <th>Email:</th>
        <th>Telephone:</th>
        <th>User`s login:</th>
        <th>UPDATE:</th>
    </tr>
    </thead>
    <tbody id="UserDetails-table"></tbody>
</table>


<script>
    const currentHost = window.location.host;
    const baseURI = `http://${currentHost}/adminPageUsers/api/v3`;
    const usersTable = document.getElementById('Users-table');
    const saveUserButton = document.getElementById('save');

    const userDetailsTable = document.getElementById('UserDetails-table');
    const saveUserDetailButton = document.getElementById('saveUserDetail');

    function addUser(user) {
        const tr = document.createElement('tr');
        tr.dataset.userId = user.id; //идентификатор строки в таблице User
        const tdDelete = document.createElement('td');
        tdDelete.innerHTML = `<a class="delete" href="#" onclick="deleteUser(${user.id})">DELETE</a>`; //<a href="#" создаю элемент для создания «кнопки», которая выглядит как ссылка, но еще не имеет целевой страницы или реализованной функции
        const tdUpdate = document.createElement('td');
        tdUpdate.innerHTML = `<a class="update" href='/updateUser/${user.id}'>UPDATE</a>`;
        for (const prop in user) {
            const td = document.createElement('td');
            td.append(document.createTextNode(user[prop]));
            tr.append(td);
        }
        tr.append(tdDelete);
        tr.append(tdUpdate);
        usersTable.append(tr);
    }


    async function deleteUser(id) {
        const csrfToken = document.getElementById('_csrf').content;
        console.log("Token = " + csrfToken);

        const csrfHeader = document.getElementById('_csrf_header').content;
        const response = await fetch(`${baseURI}/users/${id}`, {
            method: 'DELETE',
            headers: {
                [csrfHeader]: csrfToken
            }
        });
        console.log("**********" + response.status);
        if (response.status === 200) {
            const row = usersTable.querySelector(`[data-user-id="${id}"]`); //tr.dataset.userId = user.id;
            if (row) {
                row.remove();
            }
        } else {
            alert('Error: ' + response.status);
            console.error(await response.json());
        }
    }

    function addUserDetail(userDetail) {
        const tr = document.createElement('tr');
        const tdUpdate = document.createElement('td');
        tdUpdate.innerHTML = `<a class="update" href='/updateUserDetail/${userDetail.id}'>UPDATE</a>`;
        for (const prop in userDetail) {
            const td = document.createElement('td');
            if (prop === 'user') {
                console.log(userDetail[prop].user);
                td.append(document.createTextNode(userDetail[prop].username)); // выводит логин User
            } else {
                td.append(document.createTextNode(userDetail[prop]));
            }
            tr.append(td);
        }
        tr.append(tdUpdate);
        userDetailsTable.append(tr);
    }


    function fillTableUsers(users) {
        usersTable.innerHTML = '';
        users.forEach(user => {
            addUser(user);
        });
    }

    function fillTableUserDetails(userDetails) {
        userDetailsTable.innerHTML = '';
        userDetails.forEach(userDetail => {
            addUserDetail(userDetail);
        });
    }

    function fillUsers(users) {
        const userSelect = document.getElementById('users');
        users.forEach(user => {
            const option = document.createElement('option');
            option.value = user.id;
            option.append(document.createTextNode(user.username));
            userSelect.append(option);
        });
    }

    async function loadUsers() {
        const response = await fetch(`${baseURI}/users`, {
            method: 'GET',
            headers: {
                'Accept': 'application/json'
            }
        });
        const users = await response.json();
        console.log(users);
        fillTableUsers(users);
        fillUsers(users);
    }

    async function loadUserDetails() {
        const response = await fetch(`${baseURI}/userDetails`, {
            method: 'GET',
            headers: {
                'Accept': 'application/json'
            }
        });
        const userDetails = await response.json();
        console.log(userDetails);
        fillTableUserDetails(userDetails);
    }

    window.addEventListener('load', loadUsers);
    window.addEventListener('load', loadUserDetails);

    async function saveUser() {
        const usernameInput = document.getElementById('username');
        const passwordInput = document.getElementById('password');

        const user = {
            username: usernameInput.value,
            password: passwordInput.value
        };
        const csrfToken = document.getElementById('_csrf').content;
        console.log("Token = " + csrfToken);
        console.log("body: " + JSON.stringify(user));

        const csrfHeader = document.getElementById('_csrf_header').content;
        const response = await fetch(`${baseURI}/users`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                [csrfHeader]: csrfToken
            },
            body: JSON.stringify(user)
        });
        console.log("**********" + response.status);
        if (response.status === 201) {
            const loc = response.headers.get('location');
            const resp = await fetch(`http://${currentHost}${loc}`)
            if (resp.status === 200) {
                let user = await resp.json();
                console.log(user);
                addUser(user)
            } else {
                alert('Error: ' + (await resp.text()));
            }
        } else {
            alert('Error: ' + response.status);
            console.error(await response.json());
        }
    }

    async function saveUserDetail() {
        const firstNameInput = document.getElementById('firstName');
        const lastNameInput = document.getElementById('lastName');
        const birthDateInput = document.getElementById('birthDate');
        const emailInput = document.getElementById('email');
        const telephoneInput = document.getElementById('telephone');
        const usersInput = document.getElementById('users');

        const userDetail = {
            firstName: firstNameInput.value,
            lastName: lastNameInput.value,
            birthDate: birthDateInput.value,
            email: emailInput.value,
            telephone: telephoneInput.value,
            userId: usersInput.value
        };
        const csrfToken = document.getElementById('_csrf').content;
        const csrfHeader = document.getElementById('_csrf_header').content;
        const response = await fetch(`${baseURI}/userDetails`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                [csrfHeader]: csrfToken
            },
            body: JSON.stringify(userDetail)
        });
        console.log(response.status);
        if (response.status === 201) {
            const loc = response.headers.get('location');
            const resp = await fetch(`http://${currentHost}${loc}`)
            if (resp.status === 200) {
                let userDetail = await resp.json();
                console.log(userDetail);
                addUserDetail(userDetail)
            } else {
                alert('Error: ' + (await resp.text()));
            }
        } else if (response.status === 409) { //вывод сообщения для пользователя UserDetailRestController
            alert("You cannot create additional information about yourself, as it already exists. To change your data, click on the update button.");
        } else if (response.status === 400) { //вывод сообщения для пользователя UserDetailRestController
            alert("You entered an incorrect phone number or date of birth or email. Please enter correctly.");
        } else {
            alert('Error: ' + response.status);
            console.error(await response.json());
        }
    }

    saveUserButton.addEventListener('click', saveUser);
    saveUserDetailButton.addEventListener('click', saveUserDetail);
</script>
</body>
</html>