<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Online Art Store</title>
    <link th:href="@{/css/updateAuction.css}" rel="stylesheet"/>
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="categoryId" id="categoryId" th:content="${categoryId}"/>
</head>
<body>
<h2 class="name">Update Category information:</h2>
<div class="frame">
    <div>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    </div>
    <div class="frame">
        <label for="categoryName">Category name:</label>
        <input type="text" id="categoryName" name="categoryName" required th:value="${category.name}" />
    </div>
    <div class="frame">
        <input type="submit" id="categorySave" value="Press"/>
    </div>
</div>
<div>
    <a style="color: blue;" th:href="@{/adminPage}">Back to admin page</a>
</div>
<script>
    const saveCategoryButton = document.getElementById('categorySave');
    const categoryIdMeta = document.getElementById("categoryId");
    const categoryId = categoryIdMeta.content;
    const currentHost = window.location.host;
    const baseURI = `http://${currentHost}/adminPage/api/v1`;

    async function categorySave() {
        const categoryNameInput = document.getElementById('categoryName');
        const category = {
            name: categoryNameInput.value
        };
        const csrfToken = document.getElementById('_csrf').content;
        console.log("Token = " + csrfToken);
        const csrfHeader = document.getElementById('_csrf_header').content;
        const response = await fetch(`${baseURI}/categories/${categoryId}`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
                [csrfHeader]: csrfToken
            },
            body: JSON.stringify(category)
        });
        console.log("Category!!!!!" + response.status);
        if (response.status === 201) {
            const loc = response.headers.get('location');
            const resp = await fetch(`http://${currentHost}${loc}`)
            addCategory(await resp.json())
        } else {
            alert('Error: ' + response.status);
        }
    }
    saveCategoryButton.addEventListener('click', categorySave);
</script>
</body>
</html>